==
<div id="mega-menu">
    <nav class="level is-mobile nav" id="navbar">
        <div class="level-left animate__animated animate__fadeIn navbar-logo">
            <a href="{{'index' | page}}">
                <img src="{{'assets/images/logo.svg'|theme}}" alt="Affinity" class="">
            </a>
        </div>
        <div class="level-right animate__animated animate__fadeIn">
            <div class="level-item">
                <a class="nav-burger" id="close-btn"></a>
            </div>
        </div>
    </nav>
    <div class="menus">
        <div class="menu-row is-left">
            <a class="menu-item" href="{{'flavor' | page({ slug: 'anggur-merah' })}}">
                <p>Find your experience</p>
                <h1>Flavors</h1>
            </a>
        </div>
        <div class="menu-row is-center">
            <a href="{{'buy' | page}}" class="menu-item is-white">
                <p>Looking where to find MixMax?</p>
                <h1>Buy Now</h1>
            </a>
        </div>
        <div class="menu-row is-right">
            <a href="{{'contact' | page}}" class="menu-item">
                <p>Any questions?</p>
                <h1>Connect</h1>
            </a>
        </div>
        
    </div>
    <a href="{{'change' | page}}" class="btn-experience"></a>
	
</div>
