#location {
    background: $kuning;
    min-height: 100vh;
    @media screen and (max-width: $tablet) {
        #main{
            padding-top: 0;
        }
        .title{
            font-size: 2.4rem;
            width: 80%;
            margin-bottom: 2.5rem;
        }
        .subtitle{
            font-size: 1rem;
        }
        
        .button{
            // float: right;
            margin: 20px 0;
            font-size: 1rem;
        }
        .image{
            max-width: 90%;
            margin: auto;
        }
    }
}


.address-input {
    .icon{
        pointer-events: visible!important;
        cursor: pointer!important;
        color: black!important;
        i{
            font-size: 25px;
        }
    }
    @media screen and (max-width: $tablet) {
        input, select{
            font-size: 1.5rem;
        }
        input{
            padding: 0 40px 0 calc(0.75em - 1px);
        }
    }
}
